<% content_for :title, "Architecture #{@arch.name}" %>

<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @arch.name %>
</p>

<% if can?( :update, @arch ) %>
    <%= link_to 'Edit', edit_arch_path(@arch) %> |
<% end %>
<%= link_to 'Back', arches_path %>
